#filters {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  width: 250px;
  /* box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
  height: 900px;
  border-radius: 30px;
  backdrop-filter: blur(50px) !important;
  /* filter:blur(4px); */
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(48,118,234,0.2) 0%,
    rgba(255, 255, 255, 0.05) 70%
  ) !important;
  padding: 10px;
  text-align: center;
  object-fit: cover;
  cursor: pointer;
}
#status-filter{
    width:100%;
    height:45px;
    border: 1px solid #ffffff;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    transition: height 1s;
}
#status-header{
    font-size:20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}
#detail-button{
    height:20px;
    padding-right: 15px;
    background-color: transparent;
    border:none;
    /* border:1px solid red; */
    padding-top: 15px;
}

#detail-button > * {
    margin-left: 15px;
}


#status-top{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}