body {
  background-color: #100f17;
}

#home {
  height: 100vh;
  /* border: .001px solid green; */
  /* display:flex;
    flex-direction:column;
    align-items:center; */
  text-align: center;
}

a {
  color: #ffffff;
}

#card-list-header-text {
  color: #ffffff;
  font-family: "Rock Salt", cursive;
  font-size: 24px;
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#list-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin-bottom: 100px;
}
