#nft-detail-card-wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top:50px;
}

#detail-content{
    width:100%;
    height:100%;
    /* border:1px solid red; */
    display:flex;
    flex-direction:row;
}

#detail-image{
    width:60%;
    height:100%;
    object-fit:cover;
    border-radius:30px;
}
model-viewer#arDetail{
    width:60%;
    height:100%;
}
#detail-info{
    width:40%;
    height:100%;
    /* border:1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detail-info-container{
    width:100%;
    height:90%;
    /* border:1px solid red; */
    margin-bottom:20px;
    overflow:hidden;
    padding-bottom:20px;
}

 p#name {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color:#ffffff;
    font-size: 30px;
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
}

 p#collection {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color:#C6C2C6;
    font-size: 18px;
    margin-top: 15px;
    text-align: left;
    padding-left: 20px;

}

p#description{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color:#C6C2C6;
    font-size: 18px;
    margin-top: 32px;
    text-align: left;
    padding-left: 20px;
    line-height: 28px;
    font-weight: 300;
}

#detail-controls{
    width:100%;
    height:50px;
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#button-child{
    width:100%;
    height:100%;
    /* border:1px solid cyan; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#button-child > p#price{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size:18px;
    font-weight: 600;
}

.like-container > p.like-count{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    font-weight: 600;
}

.like-container{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    text-align:center;
    justify-content:center;
    align-items: center;
}


.like{
    /* width: 30px; */
    /* height: 30px; */
    margin-right: 10px;
    background-color: transparent;
    border:none;
    cursor:pointer;
    display:flex;
    flex-direction: row;
}

#more-nft-container{
    width: calc(60vw - 250px);
    display: flex;
    flex-direction: row;
    /* border:1px solid red; */
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
    margin-top: 30px; 
    margin-bottom: 50px;

    padding-right: 35px;
    align-items: center;
    
}

#more-nft-list-wrapper{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 1000px) {
    #nft-detail-card-wrapper{
        width:100%;
        height:60%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-top:50px;
    }
    #detail-image{
        width:100%;
        height:350px !important;
        object-fit:cover;
        border-radius:30px;
    }
    model-viewer#arDetail{
        width:100%;
        height:350px !important;
    }
    #detail-content{
        width:100%;
        height:100%;
        /* border:1px solid red; */
        display:flex;
        flex-direction:column;
        padding-bottom: 20px;
    }
    p#collection {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color:#C6C2C6;
        font-size: 18px;
        margin-top: 15px;
        text-align: left;
        padding-left: 10px;
    
    }
    p#name {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        color:#ffffff;
        font-size: 30px;
        margin-top: 10px;
        text-align: left;
        padding-left: 10px;
    }
    p#description{
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 32px;
        text-align: left;
        padding-left: 20px;
        line-height: 28px;
        font-weight: 300;
    }
    #detail-info{
        width:100%;
        height:500px;
        /* border:1px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #detail-info-container{
        width:100%;
        height: 310px;
        /* border:1px solid green; */
        margin-bottom:20px;
        overflow:hidden;
        padding-bottom:20px;
        /* word-wrap: break-word;
        word-break:'ellipsis-vertical' !important; */
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    #detail-controls{
        width:100%;
        height:50px;
        /* border:1px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}