.card {
    margin-top: 50px;
    margin-left:15px;
    margin-right: 15px;
    /* box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    backdrop-filter: blur(50px);
    /* filter:blur(4px); */
    background: rgb(2, 0, 36);
    /* background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.05) 0%,
      #00f5c966 0%,
      rgba(255, 255, 255, 0.05) 70%
    ); */
    padding: 10px;
    text-align: center;
    object-fit: cover;
    cursor: pointer;
    transition: width 1s ease-in-out, height .5s ease-in-out !important;
    -webkit-tap-highlight-color: transparent;


  }

  .card:focus{
      outline: none;
  }

